<div id="about_me" class="background2">

    <div class="title_white">ABOUT ME</div>
    <div class="line_white"></div>
    <div class="row">
        <!--<div class="xl_col-1"></div>-->
        <div class="col-5 xl_col-2 med_col-2">
            <img class="me_img" src="media/images/me.jpg">
        </div>
        <div class="container xl_col-8 med_col-8">
            <div class="opacity">
            </div>
            <div class="text_me">
                <p>
                    I have graduated from School of Graphic Design – Globlife where I got a degree of licensed computer
                    graphic designer. Moreover I am an absolvent of Ignatianum Academy – Culture studies with Media
                    specialization. I live and work in Cracow.
                </p>
                <p> I specialize in graphic design, illustrations and video games animation which are not only the way
                    to make a living but also – what is the most essential – my biggest passion. In addition I am
                    creating visual identifications, mobile applications and all sort of print materials.
                </p>
                <p>
                    In my work I attach great attention to details and I am taking full responsibility for individual
                    character and precise implementation of every project. I am offering professional consulting and
                    realization starting from the idea and finishing on the final design.
                </p>
                <p>
                    If you have any questions fell free to contact me.
                </p>
            </div>

        </div>

    </div>


</div>
