<div class="background2">

    <div class="title_white">ABOUT ME</div>
    <div class="line_white"></div>
    <div class="row">
        <div class="col-5 xl_col-2 med_col-2">
            <img class="me_img" src="media/images/me.jpg">
        </div>
        <div class="container xl_col-8 med_col-8">
            <div class="opacity">
            </div>
            <div class="text_me">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae orci ligula. Aenean ac augue
                    aliquam, commodo tortor vitae, cursus quam. Proin et consequat elit. Nam lobortis ex eu elit blandit,
                    nec ornare ex ornare. Quisque dictum eleifend sapien vel volutpat. Cras dictum tempor varius. Curabitur
                    vitae massa blandit, porta turpis quis, tristique ligula. Curabitur id lectus velit. Fusce pulvinar
                    dignissim lacus vel commodo. Nunc varius neque vel condimentum dictum. Morbi dignissim vel enim vel
                    gravida. Proin sit amet augue id felis tristique scelerisque.
                </p>

                <p> Suspendisse posuere neque quis hendrerit commodo. Quisque vitae vestibulum massa. Fusce rhoncus, ante
                    vehicula scelerisque aliquam, dolor nisl elementum felis, in fringilla elit odio ac sem. Interdum et
                    malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per
                    conubia nostra, per inceptos himenaeos. Donec quis ligula eleifend, pellentesque eros a, pellentesque
                    lacus. Sed gravida dui leo, a aliquet arcu imperdiet in. Donec convallis, leo ac accumsan vestibulum,
                    felis ante sollicitudin felis, ut consequat orci sapien et sem. Pellentesque laoreet felis a ligula
                    aliquam ullamcorper. Nam imperdiet lorem eget massa porta cursus. Cras ultricies et ipsum in auctor. Ut
                    lorem purus, tincidunt quis dolor non, consequat bibendum purus. Nulla sed condimentum neque.
                </p>

                <p>
                    Vivamus nulla justo, rhoncus in ultricies eu, vulputate sit amet libero. Donec interdum lacus quis
                    auctor dignissim. Nam elementum augue id augue accumsan convallis. Aliquam vel massa sem. Vestibulum
                    posuere ultrices augue, lacinia tincidunt diam. Nullam faucibus mauris mi, non auctor nunc faucibus vel.
                    Quisque risus libero, tempus eu lorem sit amet, fringilla posuere elit. Mauris fermentum tincidunt
                    facilisis. Mauris hendrerit volutpat sapien tincidunt blandit.
                </p>
            </div>

        </div>

    </div>


</div>