<div class="row4">
    <form class="xl_col-7">

        <p class="contact_text">CONTACT FORM</p>

        <div class="row">
            <input class="form__input col-10 xl_col-10 med_col-10" name="name" type="text" placeholder="Name">

            <input class="form__input col-10 xl_col-10 med_col-10" name="email" type="email" placeholder="e-mail">
            <textarea class="form__textarea col-10 xl_col-10 med_col-10" name="message"
                      placeholder="Message"></textarea>
        </div>
        <input class="form__input__submit" id="submit" name="submit" type="submit" value="Send">
    </form>
    <div class="xl_col-4">
        <p class="contact_text contact_text_margin">CONTACT</p>

        <div class="row_contact">
            <div class="xl_col-1 col-1 med_col-1"></div>
            <div class="med_col-11 xl_col-11 col-11">

                <div class="row_contact1">
                    <div class="">
                        <img class="contact_img" src="media/images/phone.png">
                    </div>
                    <div class="col-10 contact_text2 xl_col-10 med_col-10">+48 505 948 081</div>
                </div>
                <div class="row_contact1">
                    <div class="">
                        <img class="contact_img" src="media/images/envelope.png">
                    </div>
                    <div class="contact_text2">wojciech.bedn@gmail.com</div>
                </div>

                <div class="row_contact1">
                    <div class="">
                        <img class="contact_img" src="media/images/symbiot.png">
                    </div>
                    <div class="contact_text2">symbioot</div>
                </div>

                <div class="row_contact1">
                    <div class="width">
                        <a href="#"> <img class="contact_img2" src="media/images/facebook.png"></a>
                    </div>
                    <div class="width">
                        <a href="#"><img class="contact_img2" src="media/images/behance.jpg"></a>
                    </div>
                    <div class="width">
                        <a href="#"><img class="contact_img2" src="media/images/dribble.png"></a>
                    </div>
                    <div class="width">
                        <a href="#"><img class="contact_img2" src="media/images/tumblr.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="motyw_container">
    <div class="motyw_row">
        <div class="motyw_img"></div>
        <div class="motyw_img"></div>
        <div class="motyw_img"></div>
        <div class="motyw_img"></div>
        <div class="motyw_img"></div>
        <div class="motyw_img motyw_color1"></div>
    </div>
    <div class="motyw_row">
        <div class="motyw_img"></div>
        <div class="motyw_img"></div>
        <div class="motyw_img"></div>
        <div class="motyw_img"></div>
        <div class="motyw_img motyw_color3"></div>
        <div class="motyw_img motyw_color2"></div>
    </div>
    <div class="motyw_row">
        <div class="motyw_img"></div>
        <div class="motyw_img"></div>
        <div class="motyw_img"></div>
        <div class="motyw_img motyw_color2"></div>
        <div class="motyw_img motyw_color1"></div>
        <div class="motyw_img motyw_color4"></div>
    </div>
    <div class="motyw_row">
        <div class="motyw_img"></div>
        <div class="motyw_img"></div>
        <div class="motyw_img motyw_color1"></div>
        <div class="motyw_img motyw_color5"></div>
        <div class="motyw_img motyw_color4"></div>
        <div class="motyw_img motyw_color3"></div>
    </div>
    <div class="motyw_row">
        <div class="motyw_img"></div>
        <div class="motyw_img motyw_color4"></div>
        <div class="motyw_img motyw_color3"></div>
        <div class="motyw_img motyw_color4"></div>
        <div class="motyw_img motyw_color2"></div>
        <div class="motyw_img motyw_color4"></div>
    </div>
    <div class="motyw_row">
        <div class="motyw_img motyw_color2"></div>
        <div class="motyw_img motyw_color3"></div>
        <div class="motyw_img motyw_color1"></div>
        <div class="motyw_img motyw_color3"></div>
        <div class="motyw_img motyw_color4"></div>
        <div class="motyw_img motyw_color1"></div>
    </div>
</div>

<footer class="row">
    <div class="col-4 foot__margin xl_col-6 med_col-5">
        <p>Copyright@2016</p>

        <p>Coś tam Coś tam</p>
    </div>
    <nav class="col-8 xl_col-5 med_col-7">
        <ul class="nav3">
            <li class="nav3__el"><a href="#" title="HOME">Home</a></li>
            <li class="nav3__el"><a href="#" title="PORTFOLIO">Portfolio</a></li>
            <li class="nav3__el"><a href="#" title="ABOUT ME">About me</a></li>
            <li class="nav3__el"><a href="#" title="CONTACT">Contact</a></li>
        </ul>
    </nav>
    <div class="xl_col-1 xl">
        <p class="lan2">
            <a href="#">EN</a>
            |
            <a href="#">PL</a>
        </p>
    </div>
</footer>
