<form class="form">

    <p class="contact_text">CONTACT FORM</p>
    <div class="row">
    <input class="form__input col-10" name="name" type="text" placeholder="Name">

    <input class="form__input col-10" name="email" type="email" placeholder="e-mail">
    <textarea class="form__textarea col-10" name="message" placeholder="Description of the project"></textarea>
    </div>
    <input class="form__input__submit" id="submit" name="submit" type="submit" value="Send">


</form>

<p class="contact_text contact_text_margin">CONTACT</p>

<div class="row1">
    <div class="col-2">
        <img class="contact_img" src="media/images/phone.png">
    </div>
    <div class="col-10 contact_text2">+48 505 948 081</div>
</div>

<div class="row1">
    <div class="col-2">
        <img class="contact_img" src="media/images/envelope.png">
    </div>
    <div class="col-10 contact_text2">wojciech.bedn@gmail.com</div>
</div>

<div class="row1">
    <div class="col-2">
        <img class="contact_img" src="media/images/symbiot.png">
    </div>
    <div class="col-10 contact_text2">symbioot</div>
</div>

<div class="row2">
    <div class="width">
        <img class="contact_img2" src="media/images/facebook.png">
    </div>
    <div class="width">
        <img class="contact_img2" src="media/images/behance.jpg">
    </div>
    <div class="width">
        <img class="contact_img2" src="media/images/dribble.png">
    </div>
    <div class="width">
        <img class="contact_img2" src="media/images/tumblr.png">
    </div>
    <div class="col-4"></div>
</div>

<div class="motyw_container">
    <div class="motyw_row">
        <div class="motyw_img"></div>
        <div class="motyw_img"></div>
        <div class="motyw_img"></div>
        <div class="motyw_img"></div>
        <div class="motyw_img"></div>
        <div class="motyw_img motyw_color1"></div>
    </div>
    <div class="motyw_row">
        <div class="motyw_img"></div>
        <div class="motyw_img"></div>
        <div class="motyw_img"></div>
        <div class="motyw_img"></div>
        <div class="motyw_img motyw_color3"></div>
        <div class="motyw_img motyw_color2"></div>
    </div>
    <div class="motyw_row">
        <div class="motyw_img"></div>
        <div class="motyw_img"></div>
        <div class="motyw_img"></div>
        <div class="motyw_img motyw_color2"></div>
        <div class="motyw_img motyw_color1"></div>
        <div class="motyw_img motyw_color4"></div>
    </div>
    <div class="motyw_row">
        <div class="motyw_img"></div>
        <div class="motyw_img"></div>
        <div class="motyw_img motyw_color1"></div>
        <div class="motyw_img motyw_color5"></div>
        <div class="motyw_img motyw_color4"></div>
        <div class="motyw_img motyw_color3"></div>
    </div>
    <div class="motyw_row">
        <div class="motyw_img"></div>
        <div class="motyw_img motyw_color4"></div>
        <div class="motyw_img motyw_color3"></div>
        <div class="motyw_img motyw_color4"></div>
        <div class="motyw_img motyw_color2"></div>
        <div class="motyw_img motyw_color4"></div>
    </div>
    <div class="motyw_row">
        <div class="motyw_img motyw_color2"></div>
        <div class="motyw_img motyw_color3"></div>
        <div class="motyw_img motyw_color1"></div>
        <div class="motyw_img motyw_color3"></div>
        <div class="motyw_img motyw_color4"></div>
        <div class="motyw_img motyw_color1"></div>
    </div>
</div>

<footer class="row">
    <div class="col-4 foot__margin">
        <p>Copyright@2016</p>
        <p>Coś tam Coś tam</p>
    </div>
    <div class="col-8">
        <nav>
            <ul class="nav3">
                <li class="nav3__el"><a href="#" title="HOME">Home</a></li>
                <li class="nav3__el"><a href="#" title="PORTFOLIO">Portfolio</a></li>
                <li class="nav3__el"><a href="#" title="ABOUT ME">About me</a></li>
                <li class="nav3__el"><a href="#" title="CONTACT">Contact</a></li>
            </ul>
        </nav>
    </div>
</footer>