
<div class="main">
    <nav class="xl_col-5 nav1_xl">
        <ul class="nav1" id="mainMenu">
            <li class="nav1__el"><a href="#" title="HOME">Home</a></li>
            <li class="nav1__el"><a href="#" title="PORTFOLIO">Portfolio</a></li>
            <li class="nav1__el"><a href="#" title="ABOUT ME">About me</a></li>
            <li class="nav1__el"><a href="#" title="CONTACT">Contact</a></li>
        </ul>
    </nav>
    <div class="col-3 lan xl_col-1 med_col-3">
        <p>
            <a href="#">EN</a>
            |
            <a href="#">PL</a>
        </p>
    </div>
    <div class="col-6 center xl_col-6 med_col-6">
        <img src="media/images/logo.png" class="logo">
        <img src="media/images/logo_PC.png" class="logo1">
    </div>
    <div class="col-3 med_col-3">
        <div id="nav-icon1">
            <span></span>
            <span></span>
            <span></span>
        </div></div>
</div>
