
<div class="main">
    <div class="col-3 lan">
        <p>
            <a href="#">EN</a>
            |
            <a href="#">PL</a>
        </p>
    </div>
    <div class="col-6 center">
        <img src="media/images/logo.png" class="logo">
    </div>
    <div class="col-3">
        <div id="nav-icon1">
            <span></span>
            <span></span>
            <span></span>
        </div></div>
</div>
<div>
    <nav>
        <ul class="nav1" id="mainMenu">
            <li class="nav1__el"><a href="#" title="HOME">HOME</a></li>
            <li class="nav1__el"><a href="#" title="PORTFOLIO">PORTFOLIO</a></li>
            <li class="nav1__el"><a href="#" title="ABOUT ME">ABOUT ME</a></li>
            <li class="nav1__el"><a href="#" title="CONTACT">CONTACT</a></li>
        </ul>
    </nav>
</div>