<div id="portfolio" class="portfolio">
    <div class="title">PORTFOLIO</div>
    <div class="line"> </div>

    <div class="row">
        <div class="col-10 xl_col-5 med_col-6">
            <nav class="nav2">
                <ul class="nav_ul">
                    <li class="nav2__el"><a href="#portfolio" data-category="all" title="All">All</a></li>
                    <p class="nav2__el">|</p>
                    <li class="nav2__el"><a href="#portfolio" data-category="illustrations" title="Illustrations">Illustrations</a></li>
                    <p class="nav2__el">|</p>
                    <li class="nav2__el"><a href="#portfolio" data-category="games" title="Games">Games</a></li>
                    <p class="nav2__el">|</p>
                    <li class="nav2__el"><a href="#portfolio" data-category="other" title="Other">Other</a></li>
                </ul>
            </nav>
        </div>
    </div>


    <div class="row5 margin_xl portfolio__imgs" id="portfolio-min">
    </div>

    <div class="space">
    </div>

</div>
