<div>

    <div class="title">PORTFOLIO</div>
    <div class="line"> </div>

    <div class="row">
        <div class="col-10">
            <nav class="nav2">
                <ul class="nav_ul">
                    <li class="nav2__el"><a href="#" title="All">All</a></li>
                    <li class="nav2__el">|</li>
                    <li class="nav2__el"><a href="#" title="Illustrations">Illustrations</a></li>
                    <li class="nav2__el">|</li>
                    <li class="nav2__el"><a href="#" title="Games">Games</a></li>
                    <li class="nav2__el">|</li>
                    <li class="nav2__el"><a href="#" title="Other">Other</a></li>
                </ul>
            </nav>
        </div>
    </div>


    <div class="row">
        <div class="col-6">
            <img class="img__min" src="media/images/illustration/1_min.png">
        </div>
        <div class="col-6">
            <img class="img__min" src="media/images/illustration/2_min.png">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img class="img__min" src="media/images/illustration/3_min.png">
        </div>
        <div class="col-6">
            <img class="img__min" src="media/images/illustration/4_min.png">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img class="img__min" src="media/images/illustration/5_min.png">
        </div>
        <div class="col-6">
            <img class="img__min" src="media/images/illustration/6_min.png">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img class="img__min" src="media/images/illustration/1_min.png">
        </div>
        <div class="col-6">
            <img class="img__min" src="media/images/illustration/2_min.png">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img class="img__min" src="media/images/illustration/3_min.png">
        </div>
        <div class="col-6">
            <img class="img__min" src="media/images/illustration/4_min.png">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img class="img__min" src="media/images/illustration/5_min.png">
        </div>
        <div class="col-6">
            <img class="img__min" src="media/images/illustration/6_min.png">
        </div>
    </div>
</div>