<div id="port_el">

    <div class="port_color">
            <div class="port_arrow" id="prev_img">
                <div class="port_arrow_left"></div>
            </div>
        <div class="col-8 xl_col-8 med_col-8">
            <p class="port_text"></p>
            <p class="port_text1"></p>
        </div>
            <div class="port_arrow" id="next_img">
                <div class="port_arrow_right"></div>
            </div>
    </div>

    <div id="main-img">

    </div>

    <!--<div class="row">-->
        <!--<div class="col-11 med_col-11">-->
            <!--<img class="port_img" src="media/images/illustrations/steam-noir/1.png">-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
        <!--<div class="col-11 med_col-11">-->
            <!--<img class="port_img" src="media/images/illustrations/steam-noir/1.png">-->
        <!--</div>-->
    <!--</div>-->

    <div class="row">
        <p class="port_text2 xl_col-10 med_col-10">Description of the project</p>
        <p class="col-11 port_text3 xl_col-10 med_col-10">
        </p>
    </div>
    <a class="port_end" href="#portfolio">
        <div class="port_end_cross1"></div>
        <div class="port_end_cross2"></div>
    </a>
</div>
