<div>
        <a href="#"><div class="port_color">
        <div class="col-1 ">
            <div class="port_arrow">
                <div class="port_arrow_left"></div>
            </div>
        </div></a>
        <div class="col-8 xl_col-6 med_col-7">
            <p class="port_text">STEAM-NOIR</p>
            <p class="port_text1">VECTOR GRAPHICS</p>
        </div>
    <a href="#"><div class="col-1">
            <div class="port_arrow">
                <div class="port_arrow_right"></div>
            </div>
        </div></a>
    </div>

    <div class="row">
        <div class="col-11 med_col-11">
            <img class="port_img" src="media/images/illustration/steam-noir/1.png">
        </div>
    </div>

    <div class="row">
        <p class="port_text2 xl_col-10 med_col-10">Description of the project</p>
        <p class="col-11 port_text3 xl_col-10 med_col-10">
            Lorem ipsum dolor sit amet, a at, suscipit mollis arcu. Proin quis arcu in nibh bibendum sagittis. Phasellus efficitur mi a bibendum semper. Etiam pellentesque lacus nibh, et maximus ipsum sollicitudin sit amet. Praesent dui nulla, dapibus sed turpis nec, consectetur hendrerit velit. Curabitur eget dapibus nulla. Fusce tincidunt vulputate neque eget vestibulum. Nam eu ante massa. Donec eget nulla risus.
        </p>
    </div>
    <div class="port_end">
        <div class="port_end_cross1"></div>
        <div class="port_end_cross2"></div>
    </div>
</div>