<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/main.css">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>W.Bednarek Portfolio</title>
</head>
<body>
{% include "pages/header.html" %}
{% include "pages/home.html" %}
{% include "pages/portfolio.html" %}
{% include "pages/steam-noir.html" %}
{% include "pages/aboutme.html" %}
{% include "pages/contact.html" %}

<script src="scripts/lodash.min.js"></script>
<script src="vendors/jquery.min.js"></script>
<script src="scripts/main.js"></script>

</body>
</html>
