
/*------------------------------------*\
    #BOX-SIZING
\*------------------------------------*/

/**
 * Set the global `box-sizing` state to `border-box`.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * paulirish.com/2012/box-sizing-border-box-ftw
 */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



@font-face {
    font-family: "myFirstFont";
    src: url(../media/fonts/ArchivoBlack-Regular.ttf);
}

body {
    margin: 0;
    font-family: Tahoma, sans-serif;
}

.lan {
    font-size: 15px;
    text-align: center;
    margin: 10px auto;
}

.lan a {
    text-decoration: none;
    color: #343434;
}
.lan a:hover {
    text-decoration: none;
    color: #8a8a8a;
}
.lan a:visited {
    text-decoration: none;
    color: #343434;
}
.center {
    text-align: center;
}
.logo {
    height: 75px;
    /*width: 100%;*/
}

.main {
    /*display: inline-block;*/
    position: fixed;
    padding: 0;
    top: 0;
    margin: 0;
    height: 75px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 999;
}


.nav1 {
    position: fixed;
    text-align: center;
    list-style: none;
    display: none;
    /*margin: 75px 0 0 0;*/
    top: 59px;
    width: 100%;
    /*display:block;*/
    padding: 0;
    z-index: 998;

}

.nav1.open {
    display:block;
    z-index: 997;
}

.nav1__el {
    height: 55px;
    /*width: 100%;*/
    /*border-top: 2px solid #343434;*/
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav1__el:nth-child(4) {
    /*border-bottom: 2px #343434;*/
}

.nav1__el a {
    font-size: 18px;
    /*width: 100%;*/
    text-decoration: none;
    color: #343434;
    font-weight: bold;
}
.nav1__el:hover {
     background-color: #343434;
 }
.nav1__el:hover a {
    color: white;
}
.background1 {
    background-image: url("../media/images/background.png");
    background-size: cover;
    width: 100%;
    height: 493px;

}
.margin {
    margin-top: 75px;
}

.main-site {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    /*align-items: center;*/
    justify-content: center;
}


.button {
    color: white;
    font-family: 'myFirstFont', sans-serif;
    font-size: 30px;
    height: 50px;
    text-align: center;
    width: 75%;
    border: 2px solid white;
    margin-bottom: 100px;
    padding-top: 4px;
}

.main__text p {

    margin-top: 0px;
    margin-bottom: 0px;

}

.main__text {
    color: white;
    font-family: 'myFirstFont', sans-serif;
    font-size: 25px;
    text-align: center;
    /*height: 29px;*/
    margin-top: 75px;
}


#nav-icon1 {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 24px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #343434;
    /*border-radius: 15px;*/
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 10px;
}

#nav-icon1 span:nth-child(3) {
    top: 20px;
}

#nav-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    height: 2px;
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    /*left: -600px;*/
}

#nav-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    height: 2px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'myFirstFont', sans-serif;
    color: #343434;
    text-align: center;
    margin: 5px;
    display: block;
}

.line {
    height: 2px;
    width: 70px;
    background-color: #343434;
    text-align: center;
    margin: auto;
    display: block;
}

.nav2 {
    list-style: none;
    /*text-align: center;*/
    margin: auto 0 15px 0;
    /*padding: 0;*/


}
.nav_ul {
    padding:0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav2__el {
    float: left;
    /*display: inline-block;*/
    color: #3C948B;
    margin: 2%;
    font-size: 13px;
    /*text-align: center;*/
}
.nav2__el a {
    color: #343434;
    text-decoration: none;
}

.nav2__el a {
    color: #343434;
    text-decoration: none;
}

.img__min {
    width: 100%;
    display: block;
}


.title_white {
    font-size: 20px;
    /*font-weight: bold;*/
    font-family: 'myFirstFont', sans-serif;
    color: white;
    text-align: center;
    margin: 5px;
    padding-top: 10px;
}

.line_white {
    height: 1px;
    width: 70px;
    background-color: white;
    text-align: center;
    margin: auto auto 10px auto;
}
.me_img {
    width: 100%;
    margin: 10px auto 15px auto;
}
.container {
    position: relative;
    width: 100%;
    /*height: 500px;*/
    text-align: center;
}
.opacity{
    opacity: 0.4;
    /*height: 100px;*/
    background-color: #343434;
    position: absolute;
    top: 0;
    /*left: 0;*/
    height: 100%;
    width: 100%;
}

.text_me {
    color: white;
    /*margin: auto;*/
    font-size: 11px;
    text-align: justify;
    position: relative;
    top: 0;
    margin: 0 3%;
    padding: 3px 18px;
    /*padding: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
}
.background2 {
    background-image: url("../media/images/background.png");
    background-size: cover;
    width: 100%;
    /*height: 493px;*/

}

.text_me p {
    text-indent: 3%;
    /*padding: 18px;*/
}

.contact_text {
    color: #3C948B;
    font-family: 'myFirstFont', sans-serif;
    font-size: 12px;
    margin-left: 8%;
}
.contact_text_margin{
    margin-top: 35px;
}
.form__input {
    height: 25px;
    margin-bottom: 5px;
    text-indent: 4%;
}

.form__textarea {
    height: 100px;
    margin-bottom: 5px;
    text-indent: 4%;
    font-family: Tahoma, sans-serif;
    padding-top: 7px;
}
.form__input__submit {
    float: right;
    margin-right: 8%;
    color: white;
    background-color: #3C948B;
    border: solid 1px #3C948B;
    height: 25px;
    width: 60px;
    font-size: 11px;
}

.contact_img {
    width: 30%;
    /*height: 16px;*/
    text-align: center;
    float: right;
    margin-right: 20%;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*margin: 0;*/
    /*justify-content: center;*/
}
.contact_text2 {
    font-size: 11px;
}

.contact_margin {
    margin: 15px;
}
.width {
    width:12.5%;
}
.contact_img2 {
    width: 55%;
    /*height: 25px;*/
    border: solid 1px #888888;
    padding:2px;
}
footer {
    height: 51px;
    background-color: #343434;
    color: white;
    align-items: center;
}

footer p {
    font-size: 10px;
    text-align: center;
    margin: 0;
}

.foot_margin {
    margin: auto;
}

.nav3 {
    list-style: none;
    /*display: inline-block;*/
    /*float: right;*/
    padding: 0;
    /*margin: auto 4%;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav3__el {
    display: inline-block;
    float: left;
    font-size: 10px;
    margin: auto 4%;
    color: white;

}
.nav3__el a{
    color: white;
    text-decoration: none;
}

.motyw_container {
    width:102px;
    height: 102px;
    float:right;
}

.motyw_img {
    width: 17px;
    height: 17px;
    float:left;
}
.motyw_color1 {
    background-color: #27615B;
}
.motyw_color2 {
    background-color: #75A6A1;
}
.motyw_color3 {
    background-color: #9EE0DA;
}
.motyw_color4 {
    background-color: #3C948B;
}
.motyw_color5 {
    background-color: #5BE0D3;
}

.port_arrow {
    border-radius: 33px;
    border: solid 3px white;
    height: 33px;
    width: 33px;
}

.port_arrow_left {
    /*background-color:  white;*/
    transform: rotate(45deg);
    height:12px;
    width: 12px;
    margin: 8px auto 8px 11px;
    border-left: solid 4px white;
    border-bottom:  solid 4px white;
}

.port_arrow_right {
    /*background-color:  white;*/
    transform: rotate(-135deg);
    height:12px;
    width: 12px;
    margin: 8px 11px 8px auto;
    border-left: solid 4px white;
    border-bottom:  solid 4px white;
}
.port_arrow_left2 {
    background-color:  white;
    transform: rotate(-135deg);
    height:4px;
    width: 15px;
    margin: 7px auto 8px auto;
    border-right: solid 4px white;
}

.port_color {
    background-color: #3C948B;
    color: white;
    font-family: 'myFirstFont', sans-serif;
    text-align: center;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.port_text1 {
    font-size: 10px;
}
.port_color p {
    margin: 0;
}

.port_img {
    width: 100%;
    margin: 15px auto;
}
.port_text2 {
    font-size: 12px;
    margin: 0 auto;
}
.port_text3 {
    font-size: 11px;
    text-align: justify;
    border-bottom: solid 1px #c7c7c7;
    border-top: solid 1px #c7c7c7;
    padding-top: 1px;
    padding-bottom: 1px;
}
.port_end {
    border-radius: 25px;
    border: solid 2px #c7c7c7;
    height: 25px;
    width: 25px;
    margin: auto auto 10px auto;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    /*align-items: center;*/
    position: relative;
}
.port_end_cross1 {
    background-color: #c7c7c7;
    height: 2px;
    width:21px;
    transform: rotate(-135deg);
    margin-top: 11px;
    margin-left: 2px;
    /*margin: 11px 10px auto auto;*/
    position: absolute;
}
.port_end_cross2 {
    background-color: #c7c7c7;
    height: 2px;
    width:21px;
    transform: rotate(-45deg);
    margin-top: 11px;
    margin-left: 2px;
    /*margin: 11px;*/
    position: absolute;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
}

.row1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 12px 0;
    justify-content: center;
    /*justify-items: center;*/
}

.row2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 -60px 0;
    justify-content: center;
    /*justify-items: center;*/
}
